In [3]:
import pandas as pd
import numpy as np

**1. Заменить в датафрейме `a` все нечетные или отрицательные числа на число `n`, а у остальных чисел в датафрейме поменять знак.**

In [ ]:
def replace_all_odd_or_negative(a, n):
    return a.apply(lambda row: row.apply(lambda x: n if 0 > x or x % 2 == 1 else -x))

In [ ]:
# Пример
a = pd.DataFrame([
    [-1, 1, 0],
    [2, -4, 6]
])
n = 100
replace_all_odd_or_negative(a, n)

     0    1  2
0  100  100  0
1   -2  100 -6

**2. Венуть копию датафрейма `a`, где индексы и названия колонок должны идти в противоположном порядке, при этом сами числовые данные должны остаться на месте.**

In [ ]:
def reverse_all_labels(a):
    b = a.copy()
    b.index = b.index[::-1]
    b.columns = b.columns[::-1]
    return b

In [ ]:
# Пример
a = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
}, index=[0, 1, 2, 3])
reverse_all_labels(a)

   D  C   B   A
3  1  5   9  13
2  2  6  10  14
1  3  7  11  15
0  4  8  12  16

**3. Вернуть серию, в которой ассоциативные метки — все названия колонок датафрейма `a`, а значения принимают значение True, если все значения в этой колонке датафрейма являются NaN-значениями, False — иначе.**

In [ ]:
def isna_columns(a):
    return a.isna().all()

In [ ]:
# Пример
a = pd.DataFrame({
    'A': [1, 2, 4],
    'B': [np.NaN, np.NaN, np.NaN],
    'C': [np.NaN, 6, np.NaN]
})
isna_columns(a)

A    False
B     True
C    False
dtype: bool

**4. Вернуть серию, где ассоциативные метки — названия колонок исходного датафрейма, а значения True, если среднее по этому столбцу строго больше медианы, иначе - False**

In [ ]:
def is_mean_greater_than_median(a):
  return a.mean() > a.median()

In [ ]:
# Пример
a = pd.DataFrame({
    'A': [100, 0, 0],
    'B': [0, 100, 100],
    'C': [1, 2, 3]
})
is_mean_greater_than_median(a)

A     True
B    False
C    False
dtype: bool

**5. Вернуть серию, в которой ассоциативные метки — названия колонок датафрейма `a`, а значения — разность максимального и минимального значения в колонке.**

In [ ]:
def column_interval_len(a):
  return a.agg(np.max) - a.agg(np.min)

In [ ]:
# Пример
a = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [0, -100, 100],
    'C': [12, 12, 12]
})
column_interval_len(a)

A      2
B    200
C      0
dtype: int64

**6. Из датафрейма `a`, который имеет двойные индексы строк и всего одну колонку, вернуть среднее по всем значениям, у которых на месте второй из вложенных меток строк стоит значение 'first'.**

In [ ]:
def count_first_mean(a):
    return np.mean([a.loc[i[0], i[1]] for i in a.index if i[1] == 'first'])

In [ ]:
# Пример
a = pd.DataFrame(
    {'col': [1, 2, 3]},
    index=pd.MultiIndex.from_tuples([
        ('A', 'first'), ('B', 'first'), ('B', 'second')
    ])
)
count_first_mean(a)

1.5

**7. Из датафрейма `a` с колонками 'gender' и 'pet', отвечающих за пол владельца домашних питомцов ('female' либо 'male') и количество домашних питомцев, которые есть у человека, вернуть среднее количество домашних животных у женщин (female), прошедших опрос.**

In [ ]:
def mean_pet_count(a):
    return a.groupby('gender').mean().loc['female', 'pet']

In [ ]:
# Пример
a = pd.DataFrame([['female', 2], ['male', 1], ['female', 2], ['male', 1]], columns=['gender', 'pet'])
mean_pet_count(a)

2.0

**8. Поместить значения из массива в промежуток от 0 до 1.**

In [ ]:
def min_max_scaler(x):
  return lambda x:(x-x.min())/(x.max()-x.min())

**9. Напишите строку кода на языке Python, которая меняет значения '1st' на 1:**

In [ ]:
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']})

In [ ]:
df = df.replace('1st', 1)

**Напишите строку кода на языке Python, которая меняет значения 'NULL' на NaN в колонке 'Column1':**

In [ ]:
df['Column1'] = df['Column1'].replace('NULL', np.nan)

**10. Сколько колонок останется в нашем датафрейме после выполнения следующей строки кода df.drop({'Column1','Column2'}, axis=1):**

In [ ]:
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']})

In [ ]:
# Количество колонок не изменится, поскольку датафрейм не был переопределен.
# Для изменения исходного датафрейма надо было выполнить следующую строку кода: df = df.drop({'Column1','Column2'}, axis=1)
3

**11. Средствами библиотеки Pandas и языка Python считайте данные из файла [titanic.csv](https://dc-edu.itmo.ru/asset-v1:ITMOUniversity+TEST2022+2022_2+type@asset+block@titanic.csv) (набор данных выживших пассажиров Титаника: класс кабины, возраст, пол, порт посадки и т.д.) и введите названия колонок (через запятую), в которых есть значения NaN:**

In [ ]:
Age

**12. Средствами библиотеки Pandas и языка Python считайте данные из файла titanic.csv (набор данных выживших пассажиров Титаника: класс кабины, возраст, пол, порт посадки и т.д.) и графики**

Столбчатая диаграмма распределениа класса кабины:

In [ ]:
df['PClass'].value_counts().plot.bar()

Круговая диаграмма распределениа класса кабины, круговую диаграмму распределениа класса кабины:

In [ ]:
df['Age'].value_counts().plot.pie()

Гистограмма распределения возраста пассажиров:

In [ ]:
df['Age'].value_counts().plot.hist()

**13. Объединяем эти датафреймы с помощью метода .merge() по общим колонкам 'Column1', 'Column2'], присоединяя правый датафрейм к левому how='left'.**

In [ ]:
left = pd.DataFrame({
      'Column1': ['a', 'b', 'c', 'c', 'e', 'e', 'a'],
      'Column2': [3, 34, 44, 76, 77, 81, 2],
      'Column3': [True, False, False, False, True, True, False]})

right = pd.DataFrame({
      'Column1': ['d', 'b', 'c', 'c', 'f', 'a', 'a','a'],
      'Column2': [13, 21, 44, 67, 15, 87, 2, 2],
      'Column4': [3, 34, 44, 76, 77, 81, 2, 22]})

Сколько строк в результирующем датафрейме, у которых df_result['Column1'] == 'a'?

In [ ]:
df_result[(df_result['Column1'] == 'a')] # 3

**14. Изменить тип данных на datetime64[ns] в датафрейме df_data:**

In [ ]:
          Date
0   01-05-2022
1   01-06-2022
2   01-07-2022
3   01-08-2022
4   01-09-2022
5   01-10-2022
6   01-11-2022
7   01-12-2022
8   01-01-2023
9   01-02-2023
10  01-03-2023
11  01-04-2023
12  01-05-2023

In [ ]:
df_data = df_data.astype({'Date': np.datetime64})

In [ ]:
df_data = df_data.astype('datetime64')

In [ ]:
df_data = df_data.astype('datetime64[ns]')

**15. Средствами библиотеки Pandas языка Python в создайте датафрейм df_all из файла daily_weather_data.csv, в котором собраны данные о погоде в столицах мира по месяцам с 2018 по 2022 год. Напишите строки кода, которые приведут к требуемым результатам. Рекомендуем выполнять данное задание по порядку.**

In [4]:
df_all = pd.read_csv('https://dc-edu.itmo.ru/asset-v1:ITMOUniversity+TEST2022+2022_2+type@asset+block@daily_weather_data.csv',
                       delimiter=',',
                       decimal='.')

Привести значения колонки 'date' к типу datetime64[ns]:

In [ ]:
df_all = df_all.astype({'date': 'datetime64[ns]'})

Установите значения колонки 'date' в качестве индексов:

In [ ]:
df_all = df_all.set_index('date')

Оставить в датафрейме только те строки, у которых столица Sukhumi:

In [ ]:
df_all = df_all[(df_all['city'] == 'Sukhumi')]

Сгруппируйте данные по годам и выведите среднее значение средней температуры 'tavg' за каждый год в Sukhumi:

In [ ]:
df_all = df_all[['tavg']].groupby(pd.Grouper(freq='1Y')).mean()

Введите значение средней температуры за 2021 год в Sukhumi (округлите до целого):

In [ ]:
df_all[df_all.index.year == 2021]['tavg'].round()